body {
    margin: 0;
}
.container {
    background-color: yellow;
    height: 100vh;
    display: flex;
}

.box {
    margin: 5px;
}

.box1{
    /* flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; */
    flex: 1 1 0;
    background-color: blue;
}

.box2{
    background-color: red;
    flex-basis: 300px;
}

.box3{
    background-color: green;
    flex-basis: 100px;
}