body {
  margin: 0;
  background-color: yellow;
}
.container {
  border: 1px solid red;
}

.box {
  height: 200px;
  width: 200px;
  margin: 5px;
}

.box1 {
  /* flex-grow: 1; */
  background-color: blue;
}

.box2 {
  background-color: red;
}

.box3 {
  background-color: green;
}

.unordered-list {
  background-color: orange;
}
.item-one {
  color: green;
}
.item-two {
  color: red;
}
.item-three {
  color: pink;
}
.item-four {
  color: white;
}
.item-five {
  color: blue;
}
